.instagram {
    background-color: #F5F5F5;


    &__headlines--wrapper {
        @include flex-space-between;
    }

    &__pics--wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 24px 0 49px;
    }


}

@media (max-width: $width-lg - 1px) {

    .instagram {
        &-pic.hidden {
            display: none;
        }

        &__pics--wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-pic {
            justify-self: center;
        }
    }
}


@media (max-width: $width-md - 1px) {

    .instagram {
        // &-pic.hidden {
        //     display: none;
        // }

        .section-title {
            font-size: 14px;
        }

        &__pics--wrapper {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-pic {
            justify-self: center;
        }
    }
}


// @media screen and (max-width: $width-md - 1px) {
//     .item {
//         flex-direction: row;
//     }
//     .item-title { 
//         color: yellow;
//     }
// }


@media screen and (max-width: $width-sm - 1px) {

    .instagram {
        background-color: #ffffff;

        &-pic.hidden-mobile {
            display: none;
        }

        &__pics--wrapper {
            grid-template-columns: 1fr;
        }

        &__headlines--wrapper .section-title.hidden {
            display: none;
        }
    }
}

// @media (max-width: 320px) {
//     .item {
//         flex-direction: column;
//     }
// }